# macOS
.DS_Store

# Microsoft Office temporary files
~$*.doc*
~$*.xls*
~$*.ppt*

# Temporary files
*.tmp
*.temp

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# Secrets and credentials
*secret*.yaml
*secret*.yml
*.pem
*.key
